<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <table>
      <tr>
        <th><%= f.label :section %></th>
        <th><%= f.label :pinned %></th>
        <th><%= f.label :follow %></th>
      </tr>
      <tr>
        <td><%= f.check_box :section %></td>
        <td><%= f.check_box :pinned %></td>
        <td><%= f.check_box :follow %></td>
      </tr>
    </table>
  </div>
  <% if @current_user.groups.count>1 %>
  <div class="field">
    <table>
      <tr>
        <th><%= f.label :reader %></th>
        <th><%= f.label :writer %></th>
      </tr>
      <tr>
        <td><%= f.select(:reader_id, @current_user.groups.map{|g| [g.name,g.id]}) %></td>
        <td><%= f.select(:writer_id, @current_user.groups.map{|g| [g.name,g.id]}) %></td>
      </tr>
    </table>
  </div>
  <% else %>
    <%= f.hidden_field :reader_id %>
    <%= f.hidden_field :writer_id %>
  <% end %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <fieldset>
    <legend>Poll</legend>
    <p><%= link_to_add_unique_fields 'add poll',f,:poll,@message.poll.nil? ? '': 'link_disabled' %></p>
  <% unless @message.poll.nil? %>
  <%= f.fields_for :poll do |builder| %>
    <%= render :partial => 'polls/form',:locals => { :f => builder } %>
  <% end %>
  <% end %>
  </fieldset>
  <%= f.hidden_field :message_id %>
  <%= f.hidden_field :user_id,:value=>@current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
