<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:header_error_message) %>:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field2">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <table>
      <tr>
        <th><%= f.label :section %></th>
        <th><%= f.label :pinned %></th>
        <th><%= f.label :follow %></th>
      </tr>
      <tr>
        <td><%= f.check_box :section %></td>
        <td><%= f.check_box :pinned %></td>
        <td><%= f.check_box :follow %></td>
      </tr>
    </table>
  </div>
  <% if @current_user.groups.count>1 %>
  <div class="field">
    <table>
      <tr>
        <th><%= f.label :reader %></th>
        <th><%= f.label :writer %></th>
        <th><%= f.label :moderator %></th>
      </tr>
      <tr>
        <td><%= f.select(:reader_id, @current_user.groups.to_a.push(Group.find(4)).map{|g| [g.name,g.id]}) %></td>
        <td><%= f.select(:writer_id, @current_user.groups.to_a.push(Group.find(4)).map{|g| [g.name,g.id]}) %></td>
        <td><%= f.select(:moderator_id, Group.where('level<3').map{|g| [g.name,g.id]}) %></td>
      </tr>
    </table>
  </div>
  <% else %>
    <%= f.hidden_field :reader_id %>
    <%= f.hidden_field :writer_id %>
  <% end %>
  <% Bbcode.all.each do |b| %>
    <%= link_to b.label.html_safe,'javascript:void(0)',data: {:tag=>b.output},:class=>"sign" %>
  <% end %>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
</div>
<div class="field2">
  <div class="field">
    <fieldset>
      <legend><%= t(:attachments) %></legend>
    <!-- TODO area per il drop di file -->
    <% unless @message.attachments.nil? %>
      <%= f.fields_for :attachments do |builder| %>
        <%= render :partial => 'attachments/form',:locals => { :f => builder } %>
      <% end %>
    <% end %>
    </fieldset>
  </div>
  <div class="field">
    <fieldset>
      <legend><%= t(:poll) %></legend>
      <p><%= link_to_add_unique_fields t(:add_poll),f,:poll,@message.poll.nil? ? '': 'link_disabled' %></p>
    <% unless @message.poll.nil? %>
      <%= f.fields_for :poll do |builder| %>
        <%= render :partial => 'polls/form',:locals => { :f => builder } %>
      <% end %>
    <% end %>
    </fieldset>
  </div>
</div>
  <%= f.hidden_field :message_id %>
  <%= f.hidden_field :user_id,:value=>@current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
