<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.check_box :section %>
  </div>
  <div class="field">
    <%= f.label :pinned %><br />
    <%= f.check_box :pinned %>
  </div>
  <div class="field">
    <%= f.label :follow %><br />
    <%= f.check_box :follow %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <%= f.hidden_field :message_id %>
  <%= f.hidden_field :user_id,:value=>@current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
