<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <details open="open">
      <summary><%= t(:header_error_message) %></summary>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </details>
    <div class="clear"></div>
  <% end %>
<div class="field2">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <table>
      <tr>
        <% if @current_user.max_group.level < 2 %>
        <th><%= f.label :section %></th>
        <% end %>
        <% if @current_user.max_group.level < 3 %>
        <th><%= f.label :pinned %></th>
        <% end %>
        <% if @current_user.max_group.level <= 4 %>
        <th><%= f.label :follow %></th>
        <% end %>
      </tr>
      <tr>
        <% if @current_user.max_group.level < 2 %>
        <td><%= f.check_box :section %></td>
        <% else %>
        <%= f.hidden_field :section %>
        <% end %>
        <% if @current_user.max_group.level < 3 %>
        <td><%= f.check_box :pinned %></td>
        <% else %>
        <%= f.hidden_field :pinned %>
        <% end %>
        <% if @current_user.max_group.level <= 4 %>
        <td><%= f.check_box :follow %></td>
        <% else %>
        <%= f.hidden_field :follow %>
        <% end %>
      </tr>
    </table>
  </div>
  <% if @current_user.groups.count>1 && @current_user.max_group.level<3 %>
  <div class="field">
    <table>
      <tr>
        <th><%= f.label :reader %></th>
        <th><%= f.label :writer %></th>
        <% if @current_user.max_group.level < 2 %>
        <th><%= f.label :moderator %></th>
        <% end %>
      </tr>
      <tr>
        <td><%= f.select(:reader_id, @current_user.groups.to_a.push(Group.find(4)).map{|g| [g.name,g.id] if g.level <= @message.reader.level }.compact) %></td>
        <td><%= f.select(:writer_id, @current_user.groups.to_a.push(Group.find(4)).map{|g| [g.name,g.id] if @message.message.section || g.level <= @message.writer.level }.compact) %></td>
        <% if @current_user.max_group.level < 2 %>
        <td><%= f.select(:moderator_id, Group.where('level<3').map{|g| [g.name,g.id]}) %></td>
        <% else %>
        <%= f.hidden_field :moderator_id %>
        <% end %>
      </tr>
    </table>
  </div>
  <% else %>
    <%= f.hidden_field :reader_id %>
    <%= f.hidden_field :writer_id %>
    <%= f.hidden_field :moderator_id %>
  <% end %>
</div>
<div class="field2">
  <div class="field">
    <fieldset>
      <legend><%= t(:attachments) %></legend>
      <%= new_attachment t(:add_attachments),f,:attachments,{ :class=> "multiUpload" } %>
    <% unless @message.attachments.nil? %>
      <%= f.fields_for :attachments do |builder| %>
        <%= render :partial => 'attachments/form',:locals => { :f => builder } %>
      <% end %>
    <% end %>
    </fieldset>
  </div>
  <div class="field">
    <fieldset>
      <legend><%= t(:poll) %></legend>
      <%= new_subobject_div t(:add_poll),f,:poll,{ :unique=> @message.poll.nil? } %>
    <% unless @message.poll.nil? %>
      <%= f.fields_for :poll do |builder| %>
        <%= render :partial => 'polls/form',:locals => { :f => builder } %>
      <% end %>
    <% end %>
    </fieldset>
  </div>
</div>
<div class="field">
  <%= f.label :text %><br />
  <%= f.text_area :text, :cols => nil, :class => 'markItUp' %>
</div>
  <%= f.hidden_field :message_id %>
  <%= f.hidden_field :user_id,:value=>@current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= render :partial => 'emoji' %>
