<nav>
<%
  root=@path.shift
  last=path.pop
%>
  <%= link_to root.title,root if @current_user.can_view? root %>
  <% if !path.size.zero? %>
  &gt;
    <%= link_to '...','#', class: 'full_path_dropdown',title: t(:click_me) %>
  &gt;
    <%= link_to last.title,last if current_user.can_view? last %>
  <% elsif !last.nil? %>
  &gt;
    <%= link_to last.title,last if current_user.can_view? last %>
  <% end %>
  <% if !path.count.zero? %>
  <aside>
    <ol start="2">
    <%path.each do |message| %>
      <li><%= link_to message.title,message if current_user.can_view? message %></li>
    <% end %>
    </ol>
  </aside>
  <% end %>
</nav>
