<nav>
<%
  root=@path.shift
  last=path.pop
%>
  <%= link_to root.title,root if @current_user.can_view? root %>
  <% if !path.size.zero? %>
  &gt;
  <span id="tripledot">
    <%= link_to '...','#', title: t(:click_me) %> &gt;
  </span>
  <span id="tdextended" style="display: none">
    <%path.each do |message| %>
      <%= link_to message.title,message if current_user.can_view? message %> &gt;
    <% end %>
  </span>
    <%= link_to last.title,last if current_user.can_view? last %>
  <% elsif !last.nil? %>
   &gt; <%= link_to last.title,last if current_user.can_view? last %>
  <% end %>
</nav>
