<%
  last=@path.last	
  @path.each do |message| %>
  <%= link_to message.title,message %><%= ' > ' if message!=last%>
<% end %>
<%= link_to 'New Message', new_message_path({:id=>last.id}) if @current_user.can_create? @root %>
<table>
  <tr>
    <th>Title</th>
    <th>Last message</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
    <tr class="link <%= message.pinned ? 'pinned' : '' %>" onclick="location.href='<%= message_path(message) %>'">
    <td class="button clickable <%= message.section ? 'tree' : 'leaf' %>"><h2><%= message.title %></h2><%= message.section ? message.text : '' %></td>
    <td>
	<% if message.section %>
        <% if message.offsprings(@current_user).count.zero? %>
        Nessun messaggio
       <% else  
       last=message.offsprings(@current_user).last %>
       <%= link_to (last.title+"<br/>"+last.created_at.to_s).html_safe, last %><br/>
       <%= link_to last.user.username,last.user %><br/>
        <% end %><% end %>
    </td>
    <td><%= link_to 'Edit', edit_message_path(message) if message.section and message.deletable? and @current_user.can_update? message %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete if message.section and message.deletable? and @current_user.can_destroy? message %></td>
  </tr>
<% end %>
</table>

<%= paginate @messages %>
