<%= @message.title %>
<table>
  <tr>
    <th>Section</th>
    <th>Title</th>
    <th>Last message</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
    <tr class="<%= message.pinned ? 'pinned' : '' %>" onclick="location.href='<%= message_path(message) %>'">
    <td class="clickable"><%= message.section ? '木' : '本' %></td>
    <td class="clickable"><h2><%= message.title %></h2><%= message.section ? message.text : '' %></td>
    <td>
	<% if message.section %>
        <% if message.offsprings.count.zero? %>
        Nessun messaggio
       <% else  
          last=message.offsprings.last %>
          <%= link_to last.title + ' ' + last.created_at.to_s, last %>
          <%= link_to last.user.username,last.user %>
        <% end %><% end %>
    </td>
    <td><%= link_to 'Edit', edit_message_path(message) if message.section %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete if message.section %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
