<table>
  <tr>
    <th>Section</th>
    <th>Title</th>
    <th>Last message</th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
    <tr class="<%= message.pinned ? 'pinned' : '' %>" onclick="location.href='<%= message_path(message) %>'">
    <td><%= message.section ? '木' : '本' %></td>
    <td><h2><%= message.title %></h2><%= message.text %></td>
    <td>
        <% if message.offsprings.count.zero? %>
        Nessun messaggio
        <% else 
          last=message.offsprings.last %>
          <%= link_to last.title, last %>
          <%= last.user.username %>
          <%= last.created_at %>
        <% end %>
    </td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
