<table id="messages">
  <tr>
    <th><%= sort_link @q, :title, "Title" %></th>
    <th><%= sort_link @q, :text, "Text" %></th>
    <th><%= sort_link @q, :created_at, "Date" %></th>
  </tr>
<% @messages.each do |message| %>
  <tr>
    <td><%= link_to(message.title, message) %></td>
    <td><%= link_to(bb(message.text), message) %></td>
    <td><%= message.created_at.strftime("%B %e, %Y") %></td>
  </tr>
<% end %>
</table>
