<%= render :partial=>'nav', :locals=>{:path=>@path,:current_user=>@current_user} %>
<div style="clear:both;"></div>
<% @messages.each do |message| %>
<article>
  <header>
    <a id="<%= message.id%>"/><%= link_to message.title, message %><%= l message.created_at, :format=>:long %>
  </header>
  <aside class="like" title="<%= message.total_likes %>"><%= num_reduce message.total_likes %></aside>
  <% unless @current_user.guest? %>
  <menu>
    <%= link_to "&thinsp;".html_safe, edit_message_path(message), {:title=>t(:edit), :class=>"edit"} if @current_user.can_update? message %>
    <%= link_to "&thinsp;".html_safe, message, confirm: t(:destroy_confirm), method: :delete, :title=>t(:destroy), :class=>"del" if @current_user.can_destroy? message %>
    <%= link_to "&thinsp;".html_safe, new_message_path({:id=>message.id}),{:title=>t(:replay),:class=>"replay"} if @current_user.can_create? message %>
    <%= render :partial=>'likes/form', :locals=>{:message=>message,:current_user=>@current_user} %>
  </menu>
  <% end %>
  <% unless message.poll.nil? %>
    <%= render :partial=>'polls/show', :locals=>{:poll => message.poll, :current_user=>@current_user} %>
  <% end %>
  <section class="emoticons">
    <%= bb message.text %>
    <section class="sign">
      <%= bb message.user.sign unless message.user.sign.nil? %>
    </section>
  </section>
  <aside class="user">
    <%= render :partial=>'users/badge', :locals=>{:user=>message.user} %>
  </aside>
  <nav>
    <a href="#top" title="top" class="top">&thinsp;</a>
    <% message.childs(@current_user).each_with_index do |son,i| %>
      <%= link_to "&thinsp;".html_safe, son, :title=> son.user.username+" "+son.created_at.to_formatted_s(:long),:class=>"page" if !@messages.include? son and @current_user.can_view? son %>
    <% end %>
  </nav>
</article>
<% end %>
<%= paginate @messages %>
