<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>Section:</b>
  <%= @message.section %>
</p>

<p>
  <b>Lft:</b>
  <%= @message.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @message.rgt %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Message:</b>
  <%= @message.message_id %>
</p>

<p>
  <b>User:</b>
  <%= @message.user_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
