<% @messages.each do |message| %>
<article>
  <header>
    <%= message.title %><%= link_to 'Show', message %><%= message.created_at %>
    <nav><%= link_to 'Edit', edit_message_path(message) %><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete %><%= link_to 'New Message', new_message_path %></nav>
  </header>
  <section><%= message.text %></section>
  <aside><%= message.user_id %></aside>
  <footer><nav>
  <% message.messages.each do |son| %><%= link_to 'Show', son %>
  <% end %></nav>
  </footer>
</article>
<div style="clear:both;"></div>
<% end %>
