<%
  last=@path.last	
  @path.each do |message| %>
  <%= link_to message.title,message %><%= ' > ' if message!=last%>
<% end %>
<div style="clear:both;"></div>
<% @messages.each do |message| %>
<article>
  <header>
    <%= link_to message.title, message %><%= message.created_at %>
    <nav><%= link_to 'Edit', edit_message_path(message) if defined? @current_user and message.deletable? and message.owner? @current_user %><%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete if defined? @current_user and message.deletable? and message.owner? @current_user %><%= link_to 'Replay', new_message_path if defined? @current_user %></nav>
  </header>
  <section><%= message.text %></section>
  <aside>
  <img src="<%= message.user.avatar %>" alt="<%= message.user.username  %>"/>
  <ul>
	  <li><%= message.user.birthday %></li>
	  <li><%= message.user.messages.count %></li>
  </ul>
  </aside>
  <footer><nav>
  <% message.messages.each_with_index do |son,i| %><%= link_to i+1, son, :title=> son.user.username+" "+son.created_at.to_s unless @messages.include? son %>
  <% end %></nav>
  </footer>
</article>
<div style="clear:both;"></div>
<% end %>
