<a src="top"></a>
<%
  last=@path.last	
  @path.each do |message| %>
  <%= link_to message.title,message %><%= ' > ' if message!=last%>
<% end %>
<div style="clear:both;"></div>
<% @messages.each do |message| %>
<article>
  <header>
    <%= link_to message.title, message %><%= message.created_at %>
    <nav>
    <% if defined? @current_user %>
      <% if message.deletable? and message.owner? @current_user %>
        <%= link_to 'Edit', edit_message_path(message) if defined? @current_user and message.deletable? and message.owner? @current_user %>
        <%= link_to 'Destroy', message, confirm: 'Are you sure?', method: :delete if defined? @current_user and message.deletable? and message.owner? @current_user %>
      <% end %>
      <%= link_to 'Replay', new_message_path if defined? @current_user %>
      <%= render :partial=>'likes/form', :locals=>{:message=>message,:current_user=>@current_user} %>
    <% else %>
      <%= message.total_likes %>
    <% end %>
    </nav>
  </header>
  <section><%= simple_format message.text %><p class="sign"><%= bb message.user.sign unless message.user.sign.nil? %></p></section>
  <aside class="user">
  <%= render :partial=>'users/badge', :locals=>{:user=>message.user} %>
  </aside>
  <footer><nav>
  <a href="#top" title="top" class="button top">top</top>
  <% message.messages.each_with_index do |son,i| %><%= link_to i+1, son, :title=> son.user.username+" "+son.created_at.to_s unless @messages.include? son %>
  <% end %></nav>
  </footer>
</article>
<% end %>
<%= paginate @messages %>
