<aside class="login" id="login" hidden>
  <header>
    <nav>
    <%= link_to_function 'x',"$('#login').hide('smooth');",:class=>"button" %>
    </nav>
  </header>
  <article>
    <%= form_tag sessions_path do %>
    <p><%= label_tag :username, t(:username) %><br />
    <%= text_field_tag :username, params[:username] %></p>
    <p><%= label_tag :password, t(:password) %><br />
    <%= password_field_tag :password %></p>
    <p class="button"><%= submit_tag t(:login) %></p>
    <% end %>
  </article>
</aside>
