<aside class="login" id="login" hidden>
  <header>
    <nav>
    <%= link_to_void 'x', {:class=>"button exit", :title=>t(:close)} %>
    </nav>
  </header>
  <article>
    <%= form_tag sessions_path do %>
    <p><%= label_tag :username, t(:username) %><br />
    <%= text_field_tag :username, params[:username] %></p>
    <p><%= label_tag :password, t(:password) %><br />
    <%= password_field_tag :password %></p>
    <p class="button"><%= submit_tag t(:login) %></p>
    <p class="button"><%= button_tag t(:forgotten_password), :type=>'button', :id=>"forgotten_password", :data=>{url: reset_users_path} %></p>
    <% end %>
  </article>
</aside>
