<%= form_for(@bbcode) do |f| %>
  <% if @bbcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:header_error_bbcode) %>:</h2>

      <ul>
      <% @bbcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag %><br />
    <%= f.text_field :tag %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :output %><br />
    <%= f.text_field :output %>
  </div>
  <div class="field">
    <%= f.label :singular %><br />
    <%= f.check_box :singular %>
  </div>
  <div class="field">
    <%= f.label :match %><br />
    <%= f.text_field :match %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
