<h1>Listing bbcodes</h1>

<table>
  <tr>
    <th>Tag</th>
    <th>Label</th>
    <th>Result</th>
    <th>Properties</th>
    <th></th>
    <th></th>
  </tr>

<% @bbcodes.each do |bbcode| %>
  <tr>
    <td><%= bbcode.output %></td>
    <td><button><%= bbcode.label.html_safe %></button></td>
    <td><%= bbcode.text('Lorem','ipsum dolor sit amet').html_safe %></td>
    <td><%= bbcode.properties %></td>
<%
=begin
<td><%= test.bit</td>
=end%>
    <td><%= link_to 'Edit', edit_bbcode_path(bbcode) %></td>
    <td><%= link_to 'Destroy', bbcode, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bbcode', new_bbcode_path %>
