<% like = message.like_it?(current_user) ? message.like_by(current_user) : Like.new %>
<%= form_for like do |f| %>
  <%= f.hidden_field :message_id,:value=> message.id %>
  <%= f.hidden_field :user_id,:value=> current_user.id %>
  <%= f.hidden_field :value,:value=> 1 %>
  <% if like.value>0 %>
    <a class="button up checked">&thinsp;</a>
  <% else %>
    <%= link_to_submit "&thinsp;".html_safe,{:class => "button up", :title=>'+1'} %>
  <% end %>
<% end %>
<%= form_for like do |f| %>
  <%= f.hidden_field :message_id,:value=> message.id %>
  <%= f.hidden_field :user_id,:value=> current_user.id %>
  <%= f.hidden_field :value,:value=> -1 %>
  <% if like.value<0 %>
    <a class="button down checked">&thinsp;</a>
  <% else %>
      <%= link_to_submit "&thinsp;".html_safe,{:class => "button down", :title=>'-1'} %>
  <% end %>
<% end %>
