<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.select(:group_id, Group.all.map{|g| [g.name,g.id]}, {:include_blank =>'None'}) %>
  </div>
  <div class="field">
    <%= f.label :users %>
    <%= f.search_field :users,:value=>'' %>
    <%= f.collection_select :user_ids, @group.users, :id, :username, { :selected => @group.user_ids }, { :multiple => true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
