<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:header_error_group) %>:</h2>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field2">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field2">
    <%= f.label :level %><br />
    <%= f.number_field :level %>
  </div>
  <div class="field2">
    <%= f.label :users %><br />
    <%= search_field_tag 'users' %>
  <fieldset id="habtm">
  <% @group.users.each do |user| %>
    <%= check_box_tag "group[user_ids][]", user.id, true %>
    <%= user.username %><br/>
  <% end %>
  </fieldset>
  </div>
  <div class="clear"></div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
