<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Group</th>
    <th>Users number</th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><%= link_to group.group.name, group.group unless group.group.nil? %></td>
    <td>
      <% if group.deletable? %>
        <%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %>
      <% else %>
        <%= group.users.count %>
      <% end %>
    </td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
