<h1><%= t(:listing_group) %></h1>

<table>
  <tr>
    <th><%= t(:name) %></th>
    <th><%= t(:level) %></th>
    <th><%= t(:users_number) %></th>
    <th><%= link_to image_tag("theme-default/add.svg", :alt => "add"), new_group_path,title: t(:new),class: "button" %></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><%= link_to group.level, group %></td>
    <td>
      <% unless group.childs? %>
        <%= link_to t(:destroy), group, confirm: t(:destroy_confirm), method: :delete %>
      <% else %>
        <%= group.users.count %>
      <% end %>
    </td>
    <td><%= link_to image_tag("theme-default/edit.svg", :alt => "edit"), edit_group_path(group),title: t(:edit),class: "button" %></td>
  </tr>
<% end %>
</table>

<br />
