<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Users number</th>
    <th><%= link_to "&thinsp;".html_safe, new_group_path,title: "New Group",class: "button add" %></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><%= link_to group.level, group %></td>
    <td>
      <% unless group.childs? %>
        <%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %>
      <% else %>
        <%= group.users.count %>
      <% end %>
    </td>
    <td><%= link_to "&thinsp;".html_safe, edit_group_path(group),title: "Edit",class: "button edit" %></td>
  </tr>
<% end %>
</table>

<br />
