<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name) %>:</b>
  <%= @group.name %>
</p>

<p>
  <b><%= t(:level) %>:</b>
  <%= @group.level %>
</p>

<p>
  <b><%= t(:users) %>:</b>
  <% @group.users.take(5).each do |u| %>
    <%= u.username %><br/>
  <% end %>
  <%= '...' if @group.users.count>5 %>
</p>
<%= link_to t(:edit), edit_group_path(@group) %> |
<%= link_to t(:back), groups_path %>
