<h5><%= message.user.username %></h5>
<img src="<%= message.user.avatar %>" alt="<%= message.user.username  %>"/>
<span>Location: <%= message.user.location %></span>
<span>Created at: <%= message.user.created_at.to_s %></span>
<span>Birthday: <%= message.user.birthday %></span>
<span>Message n.: <%= message.user.messages.count %></span>
<span>Karma: <%= message.user.total_likes %></span>
<!-- <nav> -->
  <ul>
    <li><a href="<%= message.user.website %>">website</a></li>
  </ul>
  <!-- </nav> -->
