<h5><%= link_to user.username, user %></h5>
<img src="<%= user.avatar %>" alt="<%= user.username  %>"/>
<span><%= t(:location) %>: <%= user.location %></span>
<span><%= t(:date)%>: <%= l user.created_at, :format=>:long %></span>
<span><%= t(:birthday) %>: <%= user.birthday %></span>
<span><%= t(:messages_number) %>: <%= user.messages.count %></span>
<span><%= t(:karma)%>: <%= user.total_likes %></span>
<!-- <nav> -->
  <ul>
	  <% if user.website %> <li><a href="<%= user.website %>" class="button web" target="_blank" title="<%= t(:website).downcase %>">&thinsp;</a></li> <% end %>
	  <% unless user.email.nil? %><li><%= mail_to user.email,"&thinsp;".html_safe, { :encode=>:javascript, :title=> user.email,:class=>"button email"}  %></li><% end %>
  </ul>
  <!-- </nav> -->
