<h5><%= link_to user.username, user %></h5>
<img src="<%= user.avatar %>" alt="<%= user.username  %>"/>
<span><%= t(:location) %>: <%= user.location %></span>
<span><%= t(:date)%>: <%= l user.created_at, :format=>:long %></span>
<span><%= t(:birthday) %>: <%= user.birthday %></span>
<span><%= t(:messages_number) %>: <%= user.messages.count %></span>
<span><%= t(:karma)%>: <%= user.total_likes %></span>
a<% unless user.contacts.count.zero? %>
<nav>
  <ul>
  <% user.contacts.each do |contact| %>
  <li><%= contact %></li>
  <% end %>
  </ul>
</nav>
<% end %>o
