<h5><%= link_to user.username, user %></h5>
<img src="<%= user.avatar %>" alt="<%= user.username  %>"/>
<% unless user.location.nil? %><span><%= t(:location) %>: <%= user.location %></span><% end %>
<span><%= t(:signup_date)%>: <%= l user.created_at, :format=>:short %></span>
<% unless user.birthday.nil? %><span><%= t(:birthday) %>: <%= user.birthday %></span><% end %>
<span><%= t(:messages_number) %>: <%= user.messages.count %></span>
<span><%= t(:karma)%>: <%= user.total_likes %></span>
<% unless user.contacts.count.zero? %>
<table>
  <% user.contacts.each_with_index do |contact,index| %>
  <% if index%3==0 %><% unless index.zero? %></tr><% end %><tr><% end %>
  <td><%= render :partial=>'contacts/show', :locals=>{:contact => contact, :current_user=>@current_user} %></td>
  <% end %>
  <% unless (user.contacts.count%3).zero? %><td colspan="<%= 3-(user.contacts.count%3) %>"></td><% end %>
    </tr>
</table>
<% end %>
