<h5><%= link_to user.username, user %></h5>
<img src="<%= url_for user.avatar %>" alt="<%= user.username  %>"/>
<% unless user.location.nil? %><span><%= t(:location) %>: <%= user.location %></span><% end %>
<span><%= t(:signup_date)%>: <%= l user.created_at, :format=>:short %></span>
<% unless user.birthday.nil? %><span><%= t(:birthday) %>: <%= l user.birthday, :format=>:short%></span><% end %>
<span><%= t(:messages_number) %>: <%= user.posts.count %></span>
<span><%= t(:karma)%>: <%= user.total_likes %></span>
<% unless user.contacts.count.zero? %>
  <% user.contacts.each_with_index do |contact,index| %>
  <div class="field3"><%= render :partial=>'contacts/show', :locals=>{:contact => contact, :current_user=>@current_user} %></div>
  <% end %>
<% end %>
