<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:header_error_user) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--<div class="field2">
    <%= f.label :username %><br />
    <%= @user.username %>
  </div>-->
  <div class="field2">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field2">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field2">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field2">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field2">
    <%= f.label :sign %><br />
    <%= f.text_area :sign %>
  </div>
  <%= f.fields_for :avatar do |builder| %>
    <%= render :partial => 'avatars/form',:locals => { :f => builder } %>
  <% end %>
<%
=begin
  @user.contacts.build 
  @user.contacts.each do |contact| 
    puts render :partial=>'contacts/form',:locals=>{:contact=>contact} 
  end
=end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
