<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t(:header_error_user) %>:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field2">
    <fieldset>
      <legend><%= t(:reset_password) %></legend>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>
    </fieldset>
  </div>
  <div class="field2">
    <%= f.fields_for :avatar do |builder| %>
      <%= render :partial => 'avatars/form',:locals => { :f => builder } %>
    <% end %>
  </div>
  <div class="field2">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field2">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field2">
    <%= f.label :sign %><br />
    <%= f.text_area :sign, rows: 6 %>
  </div>
  <div class="field2">
    <fieldset>
      <legend><%= t(:contacts) %></legend>
      <%= new_subobject_div t(:add_contacts),f,:contacts %>
      <%= f.fields_for :contacts do |builder| %>
        <%= render :partial => 'contacts/form', :locals => { :f => builder } %>
      <% end %>
    </fieldset>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
