<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Location</th>
    <th>Created at</th>
    <th>Messages</th>
    <th>Website</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.username,user %></td>
    <td><%= mail_to user.email %></td>
    <td><%= user.location %></td>
    <td><%= user.created_at.to_s %></td>
    <td><%= user.messages.count %></td>
    <td><% unless user.website.nil? %><a href="<%= user.website %>">website</a><% end %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
