  <h1><%= t(:signup) %></h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <details open="open">
      <summary><%= t(:header_error_signup) %></summary>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </details>
    <div class="clear"></div>
    <% end %>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username,:tabindex=>2 %>
    </div>
    <div class="field">
      <%= raw recaptcha_tag(:challenge, display: {theme: 'clean'}) %>
    </div>
    <div class="clear"></div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
