  <h1><%= t(:signup) %></h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <details open="open">
      <summary><%= t(:header_error_signup) %></summary>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </details>
    <div class="clear"></div>
    <% end %>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username,tabindex: 2 %>
    </div>
    <div class="field">
      <%= recaptcha_tags %>
    </div>
    <div class="clear"></div>
    <div class="actions">
      <%= link_to image_tag("theme-default/fb.svg", alt: "facebook"),'#', class: "button",id: 'facebook-login', disabled: "disabled" %>
      <%= link_to image_tag("theme-default/g+.svg", alt: "google+"),'#', class: "button",id: 'googleplus-login', disabled: "disabled" %>
      <%= link_to image_tag("theme-default/tw.svg", alt: "twitter"),'#', class: "button",id: 'twitter-login', disabled: "disabled" %>
      <%= link_to image_tag("theme-default/y!.svg", alt: "yahoo!"),'#', class: "button",id: 'yahoo-login', disabled: "disabled" %>
    </div>
  <% end %>
