  <h1><%= t(:signup) %></h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <details open="open">
      <summary><%= t(:header_error_signup) %></summary>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </details>
    <div class="clear"></div>
    <% end %>
    <div class="field2">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>
    <div class="field2">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field2">
      <%= f.fields_for :contacts do |builder| %>
  <%= builder.label :value, t(:email) %><br />
        <%= builder.text_field :value %>
        <%= builder.hidden_field :protocol %>
      <% end %>
    </div>
    <div class="field2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="field">
      <%= raw recaptcha_tag(:challenge, display: {theme: 'clean'}) %>
    </div>
    <div class="clear"></div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
