  <h1><%= t(:signup) %></h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
      <h2><%= t(:header_error_signup) %></h2>
      <ul>
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.fields_for :contacts do |builder| %>
	<%= builder.label :value, t(:email) %><br />
        <%= builder.text_field :value %>
        <%= builder.hidden_field :protocol %>
      <% end %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <%= raw recaptcha_tag(:challenge, display: {theme: 'clean'}) %>
    <p class="button"><%= f.submit %></p>
  <% end %>
