  <h1><%= t(:signup) %></h1>
  <%= form_for @user do |f| %>
    <details open="open" <%='class=hidden' if @user.errors.messages.empty? %>>
      <summary><%= t(:header_error_signup) %></summary>
      <ul>
        <li><%= t(:signup_connection_error) %></li>
      </ul>
    </details>
    <div class="clear"></div>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username,tabindex: 2 %>
    </div>
    <div class="field">
      <%= recaptcha_tags %>
    </div>
    <div class="clear"></div>
    <div class="actions">
      <%= link_to image_tag("theme-default/fb.svg", alt: "facebook"),'#', class: "button",id: 'facebook-login', disabled: "disabled" %>
      <%= link_to image_tag("theme-default/g+.svg", alt: "google+"),'#', class: "button",id: 'googleplus-login', disabled: "disabled" %>
      <%= link_to image_tag("theme-default/bi.svg", alt: "persona"),'#', class: "button",id: 'persona-login', disabled: "disabled" %>
    </div>
  <% end %>
