<article>
<p>
  <b><%= @user.username %></b><br/>
  <img src="<%= @user.avatar %>"/>
</p>

<p>
  <b><%= t(:location) %>:</b>
  <%= @user.location %>
</p>
<p>
  <b><%= t(:birthday) %>:</b>
  <%= @user.birthday %>
</p>
<p>
  <b><%= t(:contacts) %>:</b>
  <% @user.contacts.each do |contact| %>
  <%= render :partial=>'contacts/show', :locals=>{:contact => contact, :current_user=>@current_user} %>
  <% end %>
</p>

<p>
  <b><%= t(:sign) %>:</b>
  <%= emojify @user.sign %>
</p>


<% if @current_user.can_update? @user %><%= link_to t(:edit), edit_user_path(@user) %> | <% end %>
<%= link_to t(:back), users_path %>
</article>
