<div class="field2">
  <b><%= @user.username %></b>
</div>
<div class="field2">
  <img src="<%= url_for @user.avatar %>" alt="<%= @user.username  %>"/>
</div>
<div class="clear"></div>
<div class="field2">
  <b><%= t(:location) %>:</b>
  <%= @user.location %>
</div>
<div class="field2">
  <b><%= t(:birthday) %>:</b>
  <%= @user.birthday %>
</div>
<div class="clear"></div>
<div class="field2">
  <b><%= t(:sign) %>:</b>
  <%= emojify @user.sign %>
</div>
<div class="field2">
  <b><%= t(:contacts) %>:</b>
  <% @user.contacts.each do |contact| %>
    <%= render :partial=>'contacts/show', :locals=>{:contact => contact, :current_user=>@current_user} %>
  <% end %>
</div>
<div class="clear"></div>
<% if @current_user.can_update? @user %><%= link_to t(:edit), edit_user_path(@user) %> | <% end %>
<%= link_to t(:back), users_path %>
