<article>
<p>
  <b><%= @user.username %></b><br/>
  <img src="<%= @user.avatar %>"/>
</p>

<p>
  <b><%= t(:location) %>:</b>
  <%= @user.location %>
</p>
<p>
  <b><%= t(:birthday) %>:</b>
  <%= @user.birthday %>
</p>
<p>
  <b><%= t(:email) %>:</b>
  <%= @user.email %>
</p>
<p>
  <b><%= t(:website) %>:</b>
  <%= link_to @user.website,@user.website,{:target=>"_blank"} unless @user.website.nil? %>
</p>

<p>
  <b><%= t(:sign) %>:</b>
  <%= bb @user.sign %>
</p>


<% if !@current_user.guest? and @current_user.eql? @user%><%= link_to t(:edit), edit_user_path(@user) %> | <% end %>
<%= link_to t(:back), users_path %>
</article>
