<% if f.object.id.nil? %>
<div class="field">
  <%= f.label :uploaded_data %>
  <%= f.file_field :uploaded_data, {:class=>'multiUpload', :disabled=>(defined? disabled and disabled)} %>
</div>
<% else %>
<div class="field2">
  <%= f.label :_destroy, t(:destroy) %><br/>
  <%= f.check_box :_destroy %>
</div>
<div class="field2">
  <%= f.label :name %><br />
  <%= link_to f.object.name, f.object, :target=>"_blank"  %>
</div>
<% end %>
