  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <% if f.object.nil? || f.object.id.nil? %>
      <%= del_subobject_div t(:destroy),f %>
    <% else %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, t(:destroy) %>
    <% end %>
  </div>
