  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
    <% if f.object.id.nil? %>
      <%= link_to_remove_fields t(:remove),f %>
    <% else %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, t(:remove) %>
    <% end %>
  </div>
