  <p><%= link_to_remove_fields 'remove',f %></p>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, 'remove' %>
  </div>
