<%= form_for(contact) do |f| %>
  <div class="field2">
    <%= f.label :protocol %><br />
    <%= f.select(:protocol, options_for_select(Contact::ENUM)) %>
  </div>
  <div class="field2">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
