<div class="field3">
  <%= f.label :protocol %><br />
  <%= f.select(:protocol, options_for_select(Contact::ENUM)) %>
</div>
<div class="field3">
  <%= f.label :value %><br />
  <%= f.text_field :value %>
</div>
<div class="field3">
  <% if f.object.id.nil? %>
    <%= link_to_remove_fields t(:destroy),f %>
  <% else %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, t(:destroy) %>
  <% end %>
</div>
