  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <% if f.object.id.nil? %>
     <%= link_to_remove_fields 'remove',f %>
    <% else %>
      <%= f.check_box :_destroy %>
      <%= f.label :_destroy, 'remove' %>
    <% end %>
    <p><%= link_to_add_fields 'add answer',f,:answers %></p>
    <%= f.fields_for :answers do |builder| %>
      <%= render :partial => 'answers/form', :locals => { :f => builder } %>
    <% end %>
  </div>
