<fieldset>
  <legend><%= t(:avatar) %></legend>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, value: '',disabled: true,class: 'change_avatar',title: t(:click2enable) %>
  </div>
  <div class="field">
    <%= f.label :uploaded_data %><br />
    <%= f.file_field :uploaded_data, disabled: true,class: 'change_avatar',title: t(:click2enable) %>
  </div>
</fieldset>
