<header class="main">
  <a href="/"><img src="/assets/logo.png" alt="バカ"/></a>
  <%= search_form_for @q, url: search_messages_path, method: :post do |f| %>
    <%= f.label :title_or_text_cont, 'search' %>
    <%= f.text_field :title_or_text_cont %>
    <%= f.hidden_field :section_false, {:value=>'t'} %>
    <%= f.submit %>
  <% end unless @q.nil? %>
  <nav>
  <% unless @current_user.guest? %>
    <%= link_to 'groups', groups_path,:class=>"button group",:title=>"groups" %> <!-- TODO if admin -->
    <div class="drop-menu">
      <span class="plus">+</span>
      <%= link_to @current_user.username,@current_user,:class=>"button user",:title=>"user" %>
      <ul class="sub-menu">
        <li><%= link_to 'logout', logout_path,:class=>"button logout",:title=>"logout" %></li>
        <li><%= link_to 'users', users_path,:class=>"button users",:title=>"list" %></li>
      </ul>
    </div>
  <% else %>
      <%= link_to "signup", signup_path,:class=>"button signup" %>
      <%= link_to_function "login", "login()",:class=>"button login" %>
  <% end %>
  </nav>
</header>
<%= render :partial=>'sessions/new' %>
