<!DOCTYPE html>
<html>
<head>
  <title>Baka</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/icon.png" type="image/png"/>

</head>
<body>
  <header class="main">
  <a href="/"><img src="/assets/logo.png" alt="バカ"/></a>
  <nav>
  <% if current_user %>
    <%= link_to current_user.username, logout_path,:class=>"button",:title=>"logout" %>
  <% else %>
      <%= link_to "Sign up", signup_path,:class=>"button" %> or
      <%= link_to_function "login", "$('#login').show('smooth');",:class=>"button" %>
  <% end %>
  </nav>
    </header>
    <aside class="login" id="login" hidden>
    <%= link_to_function 'x',"$('#login').hide('smooth');",:class=>"button" %>
    <%= form_tag sessions_path do %>
      <p><%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %></p>
      <p><%= label_tag :password %><br />
      <%= password_field_tag :password %></p>
      <p class="button"><%= submit_tag "Log in" %></p>
    <% end %>
    </aside>
    <% flash.each do |name, msg| %>
        <%= content_tag :aside, msg, :id => "flash_#{name}",:class=>"messages" %>
    <% end %>
<section class="main">
<%= yield %>
</section>
<footer class="main">
<span  class="brand baka">Baka</span> &egrave; un prodotto <a href="http://www.google.com" class="brand macrobug">Macrobug</a>
</footer>
</body>
</html>
